h1 {
   font-size: 54px;
   text-align: center;
   color: blue;
}
#carousel{
   /* max-width: 500px; */
   display: flex;
   justify-content: center;
}
img{
   display: none;
   max-width: 700px;
   max-height: 400px; 
   /* position: relative;
   left: 40%;
   margin-top: 50px; */
}
button{
   width: 40px;
   font-size: 28px;
   background-color: #3bc9e2 ;
}

li{
   display: inline;
   border:2px solid  blue;
   margin: 10px;
   padding: 5px;
}

#counter{
text-align: center;
}
